/* defaults */
nav, header, footer{
    display: block;
}

body{
    line-height: 2;
    margin: 0;
}
label{
    font-size: 35px;
    font-weight: bolder;
}
p{
    font-size: 25px;
    line-height: 1.2;
}

article p{
    font-size: 30px;
    padding:20px;
}
.container{
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content:"";
} 
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
    box-sizing: border-box;
}


/*#################################### nav bar #############################################*/
nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: rgb(240, 232, 232);
    overflow: hidden; 
    margin: 0;
    padding: 0;  
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none ;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: black;
}

ul.topnav li a:hover{
    background-color: white ;
    color: black;
}
ul.topnav li.dropdownicon{
    display: none;
}

/* ####################Custom styles################ */
#section1{
    background: blue;
    background: -webkit-linear-gradient(rgb(31, 140, 230),blue );
    background: -moz-linear-gradient(rgb(31, 140, 230),blue);
    background: -o-linear-gradient(rgb(31, 140, 230),blue);
    background: linear-gradient(rgb(31, 140, 230),blue) ;
}
div.box{
    text-align: center;
    margin: 25px;
    padding: 36px 10px 48px 24px;
    border-radius: 10px;
    background-color: rgb(252, 249, 238);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) ,
     0 2px 3px 0 rgba(0,0,0,.1);
}
div.slopeicon img{
    display: block;
    margin: auto;
    box-shadow: -2px /*H*/ -2px/*V*/ 20px/*Blur*/ 2px/*Spread*/
   rgba(0 /*sh*/,0 /*bg*/,0/*bx*/,.15/*op*/),
   2px 2px 4px 2px rgba(0,0,0,.1);
}
button{
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    color: white;
    background-color: blue;
    padding: 15px 60px;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: 5px;
}
button.learnmore{
    display: block;
    margin: auto;
}

div.image{
    width :100%;
}
div.leftcol{
    margin-left: 10%;
}

div.rightcol{
    margin-left: 10%;
}

div.logo img{
    border-radius: 50%;
    height: 70%;
    width: 80%;
}
h1.large{
    color: white;
    font-size: 40px;
    font-style: italic;
    margin: 0;
    line-height: 50px;
}

h1.headersec{
    font-size: 65px;
    text-align: center;
    font-style: italic;
    color: blue;

}
h4{
    color: white;
}

form h2{
    color: white;
    font-style: italic;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 7px;
    border-radius: 10px;
    
}

input[type="password"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 7px;
    border-radius: 10px; 
}
footer.footsy{
    background-color: rgb(71, 53, 233);
    padding-left: 10%;
}
footer.footsy h1{
    color: white;
    font-size: 35px;
}
footer.footsy ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}
footer.footsy ul li{
    color: white;
    font-size: 22px;
    line-height: 1.5;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 100%;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-twitter, .fa-instagram {
    background:rgb(97, 97, 240) ;
    color: white;
    text-align: left;
}
 

/* Moblie styles */
/* media query */
@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownicon{
        display: block;
        float: right ;
    }

    ul.topnav.responsive li.dropdownicon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    article p{
        font-size: 25px;
    }


    .col-6 , .col-4, .col-7 ,.col-5{
        width: 100%;
        margin: 0;
    }

    div.mobilestack{
        width: 50%;
        display: block;
    }

    div.box{
        padding: 5px;
        display: block;
    }
    div.slopeicon{
        margin: 10px;
    }
    div.slopeicon img{
        width: 100%;

    }

    div leftcol, div rightcol{
        margin: 15px;
    }

    input[type="text"]{
        width:350px;
    }
    
    input[type="password"]{
        width:350px;
    }
    .logo img{
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        overflow: hidden;
        margin: 0;
        }   


}


